<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @train.number %>
</p>

<p>
  <strong>Route:</strong>
  <%= @train.route.present? ? @train.route.name : "Маршрут не назначен" %>
</p>

<% c_carriages = @train.carriages.to_a.find_all{ |c| c.category == "C" } %>
<% p_carriages = @train.carriages.to_a.find_all{ |c| c.category == "P" } %>

<p>
  <strong>Вагоны:</strong>
  Купейные: <%= c_carriages.count%>,
  места (верхние/нижние): (<%= c_carriages.inject(0){ |sum, c| sum + c.upper } %> /
  <%= c_carriages.inject(0){ |sum, c| sum + c.lower } %>);
  Плацкартные: <%= p_carriages.count%>,
  места (верхние/нижние): (<%= p_carriages.inject(0){ |sum, c| sum + c.upper } %> /
  <%= p_carriages.inject(0){ |sum, c| sum + c.lower } %>)
</p>

<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', trains_path %>
